<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/public/css/home.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body id="body-home">
  <nav class="navbar navbar-expand-lg navbar-light navbar-bgg">
    <a class="navbar-brand" href="#" style="color: white;">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Keyword" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter Articles</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar">
          <header>Topics</header>
          <ul>
            <li><a href="#"> World</a></li>
            <li><a href="#"> U.S.</a></li>
            <li><a href="#"> Politics</a></li>
            <li><a href="#"> Business</a></li>
            <li><a href="#"> Technology</a></li>
            <li><a href="#"> Science</a></li>
            <li><a href="#"> Health</a></li>
            <li><a href="#"> Sports</a></li>
            <li><a href="#"> Books</a></li>
            <li><a href="#"> Style</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">TITLE IS HERE </h5>
            <p class="card-text">MAYBE URL IS HERE BECOZ URL IS LONG</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="row" style="height: 5px;"></div>
        </div>
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">TITLE IS HERE</h5>
            <p class="card-text">MAYBE URL IS HERE BECOZ URL IS LONG.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">TITLE IS HERE</h5>
            <p class="card-text">MAYBE URL IS HERE BECOZ URL IS LONG.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <p> I am col-lg-3 right</p>
      </div>
    </div>

  </div>

</body>

</html>