<h1> {{title}}</h1>
<p>A web app that asks for user interests about articles/blogs then recommends top ranked articles/blogs with it’s links based on the category of interests saved</p>
<button onclick="location.href='http://localhost:3000/signup'"> SignUp </button>
<button onclick="location.href='http://localhost:3000/signin'"> SignIn</button>
