<div class="container-fluid">

    <h1 id="h1">{{title}}</h1>
    <p id="p1">A web app that asks for user interests about articles/blogs then recommends top ranked articles/blogs
        with
        it’s links based on the category of interests saved</p>
    <div id="wrapper" class="row">
        <div id="d1" class="col-md-4">
        </div>
        <div id="d2" class="col-md-4">
            <div class="card-body">


                <button id="b1" class="button1" onclick="location.href='/login'">Login</button>
                <div class="divider"></div>
                <button id="b2" class="button1" onclick="location.href='/signup'">Register</button>
                <div class="divider"></div>
                {{!-- <button id="b3" class="button1" onclick="location.href='/reset-password'">Reset Password</button> --}}
            </div>
        </div>
        <div id="d3" class="col-md-4">
        </div>
    </div>
</div>