<div class="row" style="height: 50px;">

</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h1 class="card-title mt-2 text-center">Reset Password</h1>
                </header>
                <article class="card-body">
                    <form method="POST" id="register" action="/reset-password">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" id="email" class="form-control" placeholder="" name="email"
                                value="{{user.email}}" required>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" id="reset-btn" class="btn btn-block" value="Send"> Send Reset Email </button>
                        </div> <!-- form-group// -->


                        {{#if errors}}
                        <ul class="text-danger">
                            {{#each errors}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->

</div>
<script type="text/javascript">
	    var forgotPasswordClickEvt = document.getElementById('reset-btn');

	    forgotPasswordClickEvt.addEventListener('click', forgotPasswordClicked);

	    function forgotPasswordClicked(event) {
	        event.preventDefault();
	        var data = "email=" + document.getElementById('email').value;
	        ajaxCall(data, "http://localhost:3000/reset-password", function(status, response) {
	            if (status == 200) {
	                alert('successfully sent');
	            } else {
	                alert('Error', status)
	            }
	        });
	    }

	    function ajaxCall(data, url, callback) {
	        var xhttp = new XMLHttpRequest();
	        xhttp.open("POST", url, true);
	        xhttp.onreadystatechange = function() {
	            if (this.readyState == 4) {
	                return callback(this.status, JSON.parse(xhttp.response));
	            }
	        }
	        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	        xhttp.send(data);
	    }
    </script>
<!--container end.//-->
