<div class="container">
    <div class="card" id="card">
        <header class="card-header" style="background-color: #272635;">
            <h1 class="card-title mt-2 text-center" style="color: white;">Welcome! Please LogIn</h1>
        </header>
        <div class="class-body">
            <form action="/signin" method="POST">
                <div class="form-group text-center">
                    <label style="padding-top: 15px; font-size: 20px;">Enter Email</label><br>
                    <input class="input-login" type="text" placeholder="Email" name="username" />
                </div>
                <div class="form-group text-center">
                    <label style="font-size: 20px;">Password</label><br>
                    <input class="input-login" type="text" placeholder="Password" name="password" />
                </div>
                {{#if hasErrors}}
                <p class="text-danger">
                    {{errors}}
                </p>
                {{/if}}
                <div class="form-group text-center">
                    <input id="b9" type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>